@page "/enrolpage"

<h1>ShowEnrollment</h1>

    <a href="#">Create New</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">CourseID</th>
                <th scope="col">Title</th>
                <th scope="col">Credits</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>1</td>
                    <td>Web Programming</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Mobile Programming</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Backend Programming</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Front-End Programming</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Rekayasa Perangkat Lunak</td>
                    <td>6</td>
                </tr>
        </tbody>
    </table>