@page "/"

<div class="card">
    <h1 class="display-4">UAS Pemorgraman Front End 2021</h1>
    <hr class="my-4">
    <label class="col-md-12">Nama : Marcellus Davine Setiawan</label>
    <label class="col-md-12">NIM : 72180184</label>
</div>
